body {
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply text-body;
}
h1,h2,h3,h4 {
  @apply text-heading;
}
a {
  @apply text-body decoration-none transition duration-200;
}
a:hover {
  @apply text-subheading;
}
a.router-link-exact-active {
  @apply text-subheading;
}
button {
  cursor: pointer;
}