#app {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply text-body dark:text-gray-100 dark:bg-zinc-900;
}
h1,h2,h3,h4 {
  @apply text-heading dark:text-white;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  --at-apply: dark:text-gray-400 dark:hover:text-gray-100 hover:text-heading text-subheading transition duration-200 ease-out;
}
a.router-link-exact-active {
  --at-apply: text-subheading;
}
button {
  cursor: pointer;
}
.container {
  max-width: 65ch !important;
  @apply px-3;
}
.prose hr {
  width: 100px;
  border-color: #7d7d7d4d; 
  @apply my-8;
}
.content {
  padding: 1.25rem 0;
}
.content h1 {
  margin-bottom: 2.5rem;
}
p {
  @apply tracking-wide leading-8;
}